<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>528563771873-nffodvf6e3i2vecnigt22fverkmpdiug.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.528563771873-nffodvf6e3i2vecnigt22fverkmpdiug</string>
	<key>API_KEY</key>
	<string>AIzaSyC5pvmBIWUGqDCDHJuGMMu_-PcGRaKYeRw</string>
	<key>GCM_SENDER_ID</key>
	<string>528563771873</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Gabriel.PollingApp1</string>
	<key>PROJECT_ID</key>
	<string>pollingapp-1e02f</string>
	<key>STORAGE_BUCKET</key>
	<string>pollingapp-1e02f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:528563771873:ios:e4d7146531bc2009</string>
	<key>DATABASE_URL</key>
	<string>https://pollingapp-1e02f.firebaseio.com</string>
</dict>
</plist>